
*.class

/build/
/bin/
core/bin/com/gameconcoillote/ijdkwtd/ijdkwtd.class
*.class
core/bin/com/gameconcoillote/ijdkwtd/ijdkwtd.class
*.lock
*.lock
*.lock
*.bin
.gradle/2.2/taskArtifacts/cache.properties.lock
.gradle/2.2/taskArtifacts/fileHashes.bin
core/bin/com/gameconcoillote/ijdkwtd/ijdkwtd.class
core/bin/com/gameconcoillote/ijdkwtd/ijdkwtd.class
desktop/bin/Background4.jpg
desktop/bin/Background3.jpg
desktop/bin/Background2.jpg
core/bin/com/gameconcoillote/ijdkwtd/ijdkwtd.class